#$ vendor/bin/phpstan analyze

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	paths:
		- functions.php
		- inc/
